@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@media screen and (min-width: 785px) {
  html {
    font-size: 150%; }

  #header-content {
    flex-direction: row; }

  p {
    font-size: 0.7rem; }

  .feature-section {
    flex-direction: row; }
    .feature-section .feature-section-content {
      width: 50%; }
    .feature-section:nth-child(even) {
      flex-direction: row-reverse; }
    .feature-section .feature-section-img {
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: center;
      padding: 2rem; }

  #nav-bar ul {
    flex-direction: row !important; }

  .nav-link {
    width: max-content !important;
    padding: 0;
    background-color: transparent !important; }

  .navbar-toggler {
    display: none; } }
html {
  font-family: "Lato", sans-serif; }

* {
  box-sizing: border-box; }

html,
body,
.container {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 0.25rem; }

p {
  letter-spacing: 0.5px;
  font-weight: 300; }

.container {
  display: flex;
  flex-direction: column; }

#header {
  background: linear-gradient(0deg, #273341 20%, #88919E);
  display: flex;
  flex-direction: column; }

#header-content {
  display: flex;
  flex-direction: column-reverse;
  color: white;
  justify-content: center;
  padding: 2rem 1rem;
  padding-top: 89px; }

#header-info {
  flex-basis: 30%; }
  #header-info h2 {
    font-weight: normal; }
  #header-info h4 {
    margin-bottom: 0;
    font-weight: normal; }
  #header-info p {
    letter-spacing: 0.5px; }
  #header-info .price {
    font-size: 1.7rem;
    vertical-align: middle;
    font-weight: 300;
    margin-left: 0.5rem; }
  #header-info .btn {
    background-color: #1976a1;
    color: #F8F8F8;
    border: 2px solid #F8F8F8;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    padding: 0.5rem 1rem;
    transition: all 0.1s;
    cursor: pointer;
    font-weight: bold; }
    #header-info .btn:hover {
      background-color: #F8F8F8;
      color: #1976a1; }

#nav-bar {
  min-width: 100%;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8; }
  #nav-bar .navbar-toggler {
    outline: none;
    background-color: transparent;
    border: none;
    padding: 1rem;
    align-self: flex-end; }
    #nav-bar .navbar-toggler span {
      display: block;
      border: 1px solid black;
      margin: 5px;
      width: 20px; }

#nav-bar ul {
  margin: 0.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  padding-left: 0;
  justify-content: center; }

.nav-link {
  padding: 1rem;
  margin: 0 0.125rem;
  width: 100%;
  background-color: #F8F8F8; }
  .nav-link a {
    color: #555555; }

a {
  text-decoration: none;
  text-transform: capitalize; }

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%; }
  .content .video-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }

#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0.5rem; }

.feature-section {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  justify-content: center; }
  .feature-section:nth-child(even) {
    flex-direction: column; }

.img-fluid {
  width: 100%;
  height: auto; }

iframe {
  width: 95vw;
  max-width: 1120px;
  height: 53.25vw;
  max-height: 630px; }

#techspecs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0.5rem; }
  #techspecs table {
    font-weight: 300;
    border-collapse: collapse;
    max-width: 1100px;
    margin: 2rem 0; }
    #techspecs table tr td {
      padding: 1rem;
      border-bottom: 1px solid black; }
      #techspecs table tr td:first-child {
        text-align: right;
        border-right: 1px solid black; }
      #techspecs table tr td:nth-child(2) {
        text-align: left; }
    #techspecs table tr:last-child td {
      border-bottom: none; }

/*# sourceMappingURL=styles.css.map */
