
@media screen and (min-width: 785px){
  html {
    font-size: 150%;
  }
  #header-content{
    flex-direction: row;
  }
  p {
    font-size: 0.7rem;
  }
  .feature-section {
    flex-direction: row;
    .feature-section-content {
      width: 50%;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    .feature-section-img {
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: center;
      padding: 2rem;
    }
  }

  #nav-bar ul {
    flex-direction: row!important;
    background-color: white!important;
    top: -10px!important;
  }

  .nav-link {
    width: max-content!important;
    padding: 1rem!important;
    background-color: $light_gray!important;
  }

  .navbar-toggler {
    display: none;
  }
}