
@media screen and (min-width: 785px){
  html {
    font-size: 150%;
  }
  #header-content{
    flex-direction: row!important;
    max-width: 1100px;
    margin: auto;
    #header-info {
      min-width: 50%;
    }
    #header-img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  p {
    font-size: 0.7rem;
  }
  .feature-section {
    flex-direction: row!important;
    .feature-section-content {
      width: 50%;
    }

    &:nth-child(even) {
      flex-direction: row-reverse!important;
    }

    .feature-section-img {
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: center;
      padding: 2rem;
    }
  }

  #nav-bar ul {
    flex-direction: row!important;
    background-color: white!important;
    top: -10px!important;
    li {
      width: max-content!important;
      padding: 0.5rem 1rem!important;
      background-color: $light_gray!important;
    }
  }

  .navbar-toggler-wrapper *{
    display: none;
  }

  #email{
    max-width: 500px;
  }
  #submit{
    width: max-content!important;
  }
}