@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
$dark_gray: rgb(85, 85, 85);
$light_gray: #F8F8F8;
$dark_blue: rgb(25, 118, 161);
$basefont: 'Lato', sans-serif;
@import "media-queries";

html{
  font-family: $basefont;
}
* {
  box-sizing: border-box;
}

html,
body,
.container {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 0.25rem;
}

p {
  letter-spacing: 0.5px;
  font-weight: 300;
}
.container {
  display: flex;
  flex-direction: column;
}

#header {
  background: linear-gradient(0deg, #273341 20%, #88919E);
  display: flex;
  flex-direction: column;
}

#header-content {
  display: flex;
  flex-direction: column-reverse;
  color: white;
  justify-content: center;
  padding: 2rem 1rem;
  padding-top: 89px;
}

#header-info {
  flex-basis: 30%;
  h2 {
    font-weight: normal;
  }
  h4 {
    margin-bottom: 0;
    font-weight: normal;
  }
  p {
    letter-spacing: 0.5px;
  }
  .price {
    font-size: 1.7rem;
    vertical-align: middle;
    font-weight: 300;
    margin-left: 0.5rem;
  }
}

.btn {
  background-color: $dark_blue;
  color: $light_gray;
  border: 2px solid $light_gray;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: $basefont;
  padding: 0.5rem 1rem;
  transition: all 0.1s;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    background-color: $light_gray;
    color: $dark_blue;
  }
}

#nav-bar {
  min-width: 100%;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: $light_gray;
  .navbar-toggler-wrapper{
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .navbar-toggler{
      outline: none;
      background-color: transparent;
      border: none;
      padding: 1rem;
      align-self: flex-end;
      span {
        display: block;
        border: 1px solid black;
        margin: 5px;
        width: 20px;
        transition: all 0.3s;
      }
    }
  }

  ul {
    margin: 0.25rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    position: absolute;
    top: -250px;
    left: -15px;
    right: -15px;
    transition: all 0.3s;
    li {
      padding: 1rem 2rem;
      margin: 0 0.125rem;
      width: 100%;
      background-color: $light_gray;
    }
  }
}

#nav-bar.open {
  .navbar-toggler {
    span{
      transition: all 0.3s;
      &:first-child {
        transform: rotate(45deg) translate(0px, 10px);
      }
      &:nth-child(2){
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg) translate(0px, -10px);
      }
    }
  }
  ul{
    top: 50px;
  }
}


a,
a:visited,
a:link,
a:hover{
  text-decoration: none;
  text-transform: capitalize;
  color: $dark_gray
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .video-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0.5rem;
}

.feature-section {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  justify-content: center;

  &:nth-child(even) {
    flex-direction: column;
  }
}

.img-fluid {
  width: 100%;
  height: auto;
}

iframe{
  width: 95vw;
  max-width: 1120px;
  height: 53.25vw;
  max-height: 630px;
}

#techspecs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  background-color: $light_gray;
  table {
    font-weight: 300;
    border-collapse: collapse;
    max-width: 1100px;
    margin: 2rem 0;
    tr{
      td{
        padding: 1rem;
        border-bottom: 1px solid black;
        &:first-child {
          text-align: right;
          border-right: 1px solid black;
        }
        &:nth-child(2){
          text-align: left;
        }
      }
      &:last-child {
        td{
          border-bottom: none;
        }
      }
    }
  }
}

#subscription {
  background-color: $light_gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;

  #email {
    width: calc(100vw - 2rem);
    padding: 0.5rem;
    margin: 0.5rem;
  }
  #submit {
    width: calc(100vw - 2rem);
  }
}

footer{
  background-color: black;
  color: white;
  font-size: 13px;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  img{
    height: 18px;
    width: auto;
    vertical-align: text-bottom;
  }
}